@model ClothingStoreApp.Core.Models.User
@{
    ViewData["Title"] = "My Info";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-body justify-content-center text-center">
                    @if (!string.IsNullOrEmpty(Model.Avatar))
                    {
                        <img src="~/@Model.Avatar" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" alt="Avatar" />
                    }
                    else
                    {
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8oghbsuzggpkknQSSU-Ch_xep_9v3m6EeBQ&s" class="rounded-circle mb-3" alt="No Avatar" />
                    }

                    <h3 class="card-title text-center mb-4">My Profile</h3>


                    <dl class="row fs-5">
                        <dt class="col-sm-4">Username</dt>
                        <dd class="col-sm-8">@Model.UserName</dd>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">@Model.Email</dd>

                        <dt class="col-sm-4">Phone</dt>
                        <dd class="col-sm-8">@Model.PhoneNumber</dd>
                    </dl>

                    <div class="d-grid">
                        <a asp-action="EditInfo" class="btn btn-outline-primary">Edit Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
